<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    
<!--Body Content-->


<!--End of Page-->


    <nav> <!--Breadcrumb Navigation-->
        <div class="nav-wrapper green darken-1">
          <div class="container">
            <a href="./index.html" class="breadcrumb">Home</a> <!--Do Not Change-->
            <a href="#!" class="breadcrumb">Second</a><!--Replace href with link to page and text-->
            <a href="#!" class="breadcrumb">Third</a><!--Replace href with link to page and text-->
          </div>
        </div>
      </nav>

    <footer class="page-footer green darken-1">
      
      <!--Contact-->
      <div class="row center">
        <div class="col s4 tooltipped" data-position="top" data-tooltip="Phone">
          <a class="white-text center-text"><i class="material-icons" style="vertical-align:bottom">local_phone</i>&nbsp
            <div class="hide-on-med-and-up"><br></div>(973)
            383-6700</a>
        </div>
        <div class="col s4 tooltipped" data-position="top" data-tooltip="Fax">
          <a class="white-text center-text"><i class="material-icons"
              style="vertical-align:bottom">local_printshop</i>&nbsp<div class="hide-on-med-and-up"><br></div>(973)
            383-6951</a>
        </div>
        <div class="col s4 tooltipped" data-position="top" data-tooltip="Address">
          <a href="https://goo.gl/maps/UHDqZ2isjv92" class="white-text center-text"><i class="material-icons"
              style="vertical-align:bottom">location_on</i>&nbsp<div class="hide-on-med-and-up"><br></div>105
            North Church Road Sparta, NJ 07871</a>
        </div>
      </div>
      <br>
      <div class="container">
        <p>© Sussex County Technical School</p>
        <p>The Sussex County Technical School District does not discriminate on the basis of race, color, ethnicity,
          national
          origin, religion,
          creed, sex, age, parental status, physical disability, learning disability, or sexual orientation.</p><br>
      </div>
      </div>
    </footer>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="./js/materialize.min.js"></script>
        <!--<script type="text/javascript" src="js/include.js"></script>-->

  </body>
</html>
      